---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<div class="site-branding">
		<a href={import.meta.env.BASE_URL}>{SITE_TITLE}</a>
	</div>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/recipes">Recipes</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 2em 1em;
		background: white;
		text-align: center;
	}
	.site-branding {
		font-family: 'Noto Sans', sans-serif;
		font-size: 2.5em;
		margin-bottom: 0.5em;
		line-height: 1.2;
	}
	.site-branding a {
		text-decoration: none;
		color: #333;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Noto Serif', serif;
	}
	nav a {
		padding: 0.5em 1em;
		color: #333;
		text-decoration: none;
		font-size: 1.1em;
	}
</style>
